.header {
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    padding: 10px;
}

.nav {
    position: fixed;
    top: 10px;
    left: 10px;
}

.nav-item {
    position: relative;
    background-color: gold;
    display: inline;
}

.main-discipline{
	border:1px solid;
	margin:10px;
	padding:10px;
}

.item-goals{
	list-style-type:lower-greek;
	margin-left: 10px;
	margin-bottom: 10px;
}

a{
	text-decoration: none;

}
a:hover{
	text-decoration: underline;
}

.subnav{
	background-color: red;
	position: absolute;
	width: 150px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1;
}

.nav-item:hover .subnav{
	visibility: visible;
}