.header{
	border-style: solid;
    border-width: 1px;
    margin: 15px;
    padding: 10px;
}
.margem{
	border-style: solid;
    border-width: 1px;
    margin: 15px;
    width: 50%;
    padding: 10px;

}
#title {
	font-size: 24pt;
}
.subtitle {
	font-size: 18pt;
}

.item-goals  {
	list-style-type: circle;
	margin-left: 30px;
	margin-bottom: 10px;
}
.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#img {
	margin: 10px;
	height: 53%;
	width: 41%;
	float: right;
	position: relative;
	margin-top: -124px;
}
#material {
	border-style: solid;
    border-width: 1px;
    margin: 15px;

}
.line {
	display: inline;
	margin-left: 200px;
}