.header{
	border-style: solid;
    border-width: 0.2rem;
    margin: 1rem;
    padding: 1rem;
}

.margem{
	border-style: solid;
    border-width: 0.2rem;
    margin: 1rem;
    width: 50%;
    padding: 1rem;
}
#title {
	font-size: 24pt;
	margin: 1rem;
}
.subtitle {
	font-size: 18pt;
}

.item-goals  {
	list-style-type: circle;
	margin-left: 2rem;
	margin-bottom: 1rem;
}
.center {
	display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#img {
	height: 53%;
	width: 41%;
	float: right;
	position: relative;
	margin-top: -8.2rem;
	margin-right: 1rem; 
}
#material {
	border-style: solid;
    border-width: 0.2rem;
    margin: 1rem;

}
.line {
	display: inline;
	margin-left: 21rem;
}
